
body {
    background-image: url("https://golf-pass.brightspotcdn.com/dims4/default/cc3fc05/2147483647/strip/true/crop/1439x810+0+0/resize/590x332!/quality/90/?url=https%3A%2F%2Fgolf-pass-brightspot.s3.amazonaws.com%2Fe3%2Fb4%2F8b8476b84feeadcce4c703880b69%2F42698.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.bluey{
    color:blue;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
th, td {
  padding: 10px;
  text-align: center;
}
table, th, td {
  border: 1px solid;
  border-color: white;
  background-color: blue;
  color:white;
  min-width: 100px;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display:flex;
  justify-content: center;
  max-width: 5000px;
}

ul li {
  margin: 0 10px;  
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  background-color: blue;
  border: radius 6px;
  transition: background-color 0.3s;
}


ul li a:hover {
  background-color: grey;
}

.txt {
    font-size:160%;
    color:white;
    background-color: blue;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}


.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.button {
  background-color: white;
  color: black;
  border: 2px solid blue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover{
  background-color: blue;
  color: white;
}
