body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5MLL1omjEVgcrzZF0QRn31Yu3bikdLxQC8g&s);
    background-repeat: no-repeat;
}
img{
    width: 200px;
    height: 200px;
}
